.formWrap {
  padding: 20px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  display: block;
}
label {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
}
